//<FILES>
@import "nullstyle.scss";
//====================================================
//<FONTS>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
//====================================================
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
.accordion {
	&-item {
		&__heading {
			display: flex;
			justify-content: space-between;
			background-color: #eee;
			padding: 20px;
			cursor: pointer;
			&:hover {
				background-color: #ccc;
			}
		}
		&__text {
			display: none;
			padding: 20px;
		}
	}
	&__heading,
	&__symbol {
		font-size: 22px;
		font-weight: bold;
		color: #555;
	}
	.show {
		display: block;
	}
	.active {
		background-color: #ccc;
	}
}


